doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // Favicon
        link(rel='shortcut icon', href='/assets/server/img/favicon.ico', type='image/x-icon')
        // Bootstrap core CSS
        link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css')
        // Bootstrap dialog
        link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap3-dialog/1.35.4/bootstrap-dialog.min.css')

        link(rel='stylesheet', href='//cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css')

        link(rel='stylesheet', href='/assets/plugins/messenger/css/messenger.css')
        link(rel='stylesheet', href='/assets/plugins/messenger/css/messenger-theme-flat.css')


        // Fonts from Font Awsome
        link(rel='stylesheet', href='//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css')
        // CSS Animate
        link(rel='stylesheet', href='//cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css')
        // Custom styles for this theme
        link(rel='stylesheet', href='/assets/server/css/main.css')
        link(rel='stylesheet', href='/assets/server/css/style.css')
        block head-css
        block head-js
        
    body
        section#container
            header#header
                // logo start
                .brand
                    a.logo(href='#{adminDir}')
                        | 管理后台
                        //| 实验室
                // logo end
                .toggle-navigation.toggle-left
                    button#toggle-left.btn.btn-default(type='button', data-toggle='tooltip', data-placement='right', title='切换左栏')
                        i.fa.fa-bars

                .user-nav
                    ul
                        if (User)
                            li.profile-photo
                                - var avatar = gravatar.url(User.email, {s: '40',r: 'x',d: 'retro'}, true)
                                img.img-circle(src='#{avatar}', alt='')
                            li.dropdown.settings
                                a.dropdown-toggle(data-toggle='dropdown', href='')
                                    | #{User.name}
                                    i.fa.fa-angle-down
                                ul.dropdown-menu
                                    li
                                        a(href='#{adminDir}/me')
                                            i.fa.fa-user
                                            |  个人资料
                                    //li
                                        a(href='index.html#')
                                            i.fa.fa-envelope
                                            |  消息 
                                            span#user-inbox.badge.badge-danager 5
                                    li
                                        a(href='#{adminDir}/user/logout')
                                            i.fa.fa-power-off
                                            |  登出
            // sidebar left start
            aside.sidebar
                #leftside-navigation.nano
                    ul.nano-content
                        li(class=Path === 'index' ? 'active' : '')
                            a(href='#{adminDir}')
                                i.fa.fa-dashboard
                                span 首页
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('CONTENT_INDEX') > -1))
                            li.sub-menu(class=Path === 'content' ? 'active' : 'hidden')
                                a(href='javascript:void(0);')
                                    i.fa.fa-file-text
                                    span 内容管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'content' ? 'active' : '')
                                        a(href='#{adminDir}/content') 内容列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/content/add') 添加内容
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('XIMYAN_INDEX') > -1))
                            li.sub-menu(class=Path.indexOf('ximyan') > -1 ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-smile-o
                                    span ximyan课堂
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'weekterm' ? 'active' : '')
                                        a(href='#{adminDir}/ximyan/weekterm') >>日周管理
                                    li(class=Menu === 'course' ? 'active' : '')
                                        a(href='#{adminDir}/ximyan/course') >>课程管理
                                    li(class=Menu === 'morningread' ? 'active' : '')
                                        a(href='#{adminDir}/ximyan/morningread') >>早读管理
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('CATEGORY_INDEX') > -1))
                            li.sub-menu(class=Path === 'category' ? 'active' : 'hidden')
                                a(href='javascript:void(0);')
                                    i.fa.fa-th
                                    span 分类管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/category') 分类列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/category/add') 添加分类
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('COMMENT_INDEX') > -1))
                            li(class=Path === 'comment' ? 'active' : 'hidden')
                                a(href='#{adminDir}/comment') 评论列表
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('USER_INDEX') > -1))
                            li.sub-menu(class=Path === 'user' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-users
                                    span 用户管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/user') 用户列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/user/add') 添加用户
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('ROLE_INDEX') > -1))
                            li.sub-menu(class=Path === 'role' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-unlock-alt
                                    span 角色管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/role') 角色列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/role/add') 添加角色
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('FILE_INDEX') > -1))
                            li.sub-menu(class=Path === 'file' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-folder-open
                                    span 文件管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/file') 文件列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/file/add') 添加文件
                        if (User && Roles.indexOf('admin') > -1 || Actions.indexOf('NOTIFICATION_INDEX') > -1)
                            li.sub-menu(class=Path === 'notification' ? 'active' : 'hidden')
                                a(href='javascript:void(0);')
                                    i.fa.fa-envelope
                                    span 站内信
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/notification') 全部
                                    li(class=Menu === 'received' ? 'active' : '')
                                        a(href='#{adminDir}/notification/received') 已收到
                                    li(class=Menu === 'sent' ? 'active' : '')
                                        a(href='#{adminDir}/notification/sent') 已发出
                        if (User && Roles.indexOf('admin') > -1 || Actions.indexOf('MESSAGE_INDEX') > -1)
                            li.sub-menu(class=Path === 'message' ? 'active' : 'hidden')
                                a(href='javascript:void(0);')
                                    i.fa.fa-comment
                                    span 访客留言
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/message') 留言列表
                        if (User && Roles.indexOf('admin') > -1 || Actions.indexOf('PAGE_INDEX') > -1)
                            li.sub-menu(class=Path === 'page' ? 'active' : 'hidden')
                                a(href='#{adminDir}/page') 页面列表
                        if (User && Roles.indexOf('admin') > -1 || Actions.indexOf('TAG_INDEX') > -1)
                            li.sub-menu(class=Path === 'tag' ? 'active' : 'hidden')
                                a(href='javascript:void(0);')
                                    i.fa.fa-tags
                                    span 标签
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/tag') 标签列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/tag/add') 添加标签
                        if (User && Roles.indexOf('admin') > -1 || Actions.indexOf('LOG_INDEX') > -1)
                            li.sub-menu(class=Path === 'log' ? 'active' : '')
                                a(href='#{adminDir}/log')
                                    i.fa.fa-file
                                    span 日志
                                
            // sidebar left end
            // main content start
            section.main-content-wrapper
                section#main-content
                    block content
                    
                    
            // main content end
            
        // Global JS
        script(src='//cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js')
        script(src='//cdn.jsdelivr.net/jquery.form/4.2.0/jquery.form.min.js')
        script(src='//cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='//cdn.jsdelivr.net/bootstrap3-dialog/1.35.4/bootstrap-dialog.min.js')
        script(src='//cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js')
        script(src='/assets/plugins/messenger/js/messenger.min.js')
        script(src='/assets/plugins/messenger/js/messenger-theme-future.js')
        script(src='//cdn.jsdelivr.net/mustache.js/2.3.0/mustache.min.js')
        script(src='/assets/server/js/application.js')
        // Load these page level functions
        block foot-js