extends ../../layout
block head-css
    link(rel='stylesheet', href='/assets/plugins/mditor/css/mditor.min.css')
block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                    label 号周
                    input.form-control(name='term')
                .form-group
                    label 开始时间
                    input.form-control(name='start',type='date')
                .form-group
                    label 结束时间
                    input.form-control(name='end',type='date')
                //.help-block
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交
                a(href='#{adminDir}/ximyan/weekterm/list' style='padding-left:10px;') 返回
block foot-js
    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/vendor/jquery.ui.widget.js')
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function () {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("处理中...");
                },
                success: function(data, status, xhr, $form) {
                    console.log("处理data="+data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: '提交成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        $form[0].reset();
                    } else {
                        messenger.update({
                            message: '提交失败',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: '系统繁忙',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })

        });
