extends ../../layout

block content
    .row
        .col-md-12
            a.btn.btn-info(href='#{adminDir}/ximyan/weekterm/add') 添加号周

            form(action='#{adminDir}/ximyan/weekterm/list', method='post')
                input(type='hidden', id='_csrf', name='_csrf', value='#{token}')
                .form-group.form-inline
                    .form-inline
                        label.form-label(style="") 日期
                        input.form-control(name='date', id='id_date', type='date',value='#{condition.date || ""}')
                        button.btn.btn-primary(type='submit' style="margin-top:5px;") 查询
            form(action='#{adminDir}/ximyan/weekterm/exportData', id="exportForm", name="exportForm" method='post')
                input(type='hidden', id='ex_csrf', name='_csrf', value='#{token}')
                input(type='hidden', id='ex_date', name='date', value='#{condition.date}')
                button.btn.btn-primary(id="exportBtn" style="margin-top:5px;") 导出
            table.table.table-striped
                thead
                    tr
                        th 号周
                        th 开始时间
                        th 结束时间
                        th 操作
                tbody
                    - each content in results
                        tr
                            td
                                | #{content.term}
                            td
                                | #{moment(content.start).format('YYYY-MM-DD')} #{moment(content.start).format('dddd')}
                            td
                                | #{moment(content.end).format('YYYY-MM-DD')}  #{moment(content.start).format('w')}
                            td
                                a.btn.btn-default.btn-xs(href='#{adminDir}/ximyan/weekterm/#{content.id}/edit') 编辑
                                | &nbsp;
                                a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/ximyan/weekterm/#{content.id}/del') 删除
            
            if (pageInfo && pageInfo.totalPage > 0)
                - pageInfo.query = query
                include ../../mixin
                +pagination(pageInfo)


block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        
        $(function() {
            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var messenger = Messenger().post("处理中...");
                $.post(url, {_csrf: token}, function(res) {
                    console.log(res);
                    var status = res.status;
                    if (status) {
                        messenger.update({
                            message: '删除成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        setTimeout(function() {
                            $this.closest('tr').remove();
                        }, 1000)
                        
                    } else {
                        messenger.update({
                            message: '删除失败',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                })
            });

            // 导出数据
             $('#exportBtn').on('click', function(e) {
                if(confirm("导出数据")){
                    $('#ex_csrf').val(token);
                    $('#ex_date').val($('#id_date').val());
                    $('#exportForm').submit();
                }
            });
        });